# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.classpath
.project
.settings

# NetBeans
/nbproject

# vim
.*.sw[a-p]

# Mac
/.DS_Store

# Ant
build.number

src/main/resources/versionmatcher.csv

# Gradle
.gradle/
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache
